In [ ]:
# 시퀀스 자료형 이해하기

시퀀스 자료형은 어떤 객체가 순서를 가지고 나열되어 있는 것을 말한다.

예를 들어 문자열 'abcd'는 문자 a,b,c,d가 순서를 가지고 차례대로 나열되어 있는 것이다.

In [8]:
a='scott'
print(a)

# 위의 scott 이라는 문자를 담은 a 변수에서 특정 요소만 출력하고 싶다면
print('-----')
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

"""
문자형 변수에서 특정 철자만 가져오고 싶다면
문자형 변수 옆에 대괄호를 쓰고, 순서에 해당하는 숫자를 적어주면 된다.
"""

scott
-----
s
c
o
t
t

In [13]:
# smith 에서 맨 끝 철자만 출력하기

a='smith'
print(a[4])
print(a[-1]) # -1을 사용할 수도 있다

h
h

In [23]:
# emp3.csv에서 이름의 첫번째 철자만 출력하기

"""
SQL>
select substr(ename,1,1)
 from emp;
"""

import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")

for i in emp['ename']:    # emp3.csv에서 ename만 가져와서, ename의 개수만큼 loop문을 수행해서 ename을 출력
    print(i)  
print('-------------')
for i in emp['ename']:    
    print(i[0])           # ename을 출력하는데 첫번째 문자열만 출력
print('-------------')
for i in emp['ename']:    
    print(i[-1])           # ename을 출력하는데 마지막 문자열만 출력
print('-------------')
for i in emp['ename']:    # 이름과 이름의 마지막 문자열 출력
    print(i,i[-1])

KING
BLAKE
CLARK
JONES
MARTIN
ALLEN
TURNER
JAMES
WARD
FORD
SMITH
SCOTT
ADAMS
MILLER
-------------
K
B
C
J
M
A
T
J
W
F
S
S
A
M
-------------
G
E
K
S
N
N
R
S
D
D
H
T
S
R
-------------
KING G
BLAKE E
CLARK K
JONES S
MARTIN N
ALLEN N
TURNER R
JAMES S
WARD D
FORD D
SMITH H
SCOTT T
ADAMS S
MILLER R

In [31]:
import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")

# 이름의 첫번째 철자가 S로 시작하는 사원들의 이름 출력하기
"""
SQL>
select ename
 from emp
 where ename like 'S%';
"""

for i in emp['ename']:
    if i[0]=='S':
        print(i)


print('-----------')        
# 이름이 T로 끝나는 사원들의 이름 출력하기

"""
SQL>
select ename
 from emp
 where ename like '%T';
"""

for i in emp['ename']:
    if i[-1]=='T':
        print(i)

        
print('-----------')
# 두번째 철자가 M인 사원의 이름과 월급을 출력하기

"""
SQL>
select ename
 from emp
 where ename like '_M%';
"""

for i in emp['ename']:
    if i[1]=='M':
        print(i)

SMITH
SCOTT
-----------
SCOTT
-----------
SMITH

In [48]:
# SQL을 판다스로 구현하기

"""
SQL > select substr(ename,1,3)
        from emp;
"""
import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")

for i in emp['ename']:
        print(i[0:3])
        
print('-----------')

"""
SQL > select substr(ename,-2,0)
        from emp;
"""

for i in emp['ename']:
        print(i[-2:])

KIN
BLA
CLA
JON
MAR
ALL
TUR
JAM
WAR
FOR
SMI
SCO
ADA
MIL
-----------
NG
KE
RK
ES
IN
EN
ER
ES
RD
RD
TH
TT
MS
ER

In [ ]:
# 시퀀스 자료 연결

자료형이 동일한 두 개의 시퀀스 자료는 + 연산자로 순서있게 연결하여
새로운 시퀀스 자료를 만들 수 있다.
문자열 + 문자열, 리스트 + 리스트, 튜플 + 튜플 과 같이
두 개의 동일한 시퀀스 자료형에 대해 + 연산자로 연결이 가능하다.

In [51]:
a='i love '
b='python'
print(a+b)

# 두 개의 리스트 연결하기

a=[2,3,4,5]
b=[9,2,4,8]

print(a+b)

i love python
[2, 3, 4, 5, 9, 2, 4, 8]

In [62]:
# 컬럼끼리 연결해서 출력하기

"""
SQL > select ename || sal
        from emp;
"""

import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")

for i, k in zip(emp['ename'],emp['sal']):
    print(i+str(k))

"""
zip 함수를 for loop 문에 사용하게 되면
두 개의 범위 데이터를 한 번에 받아서 loop를 수행할 수 있다.
str 함수를 이용한 이유는 문자형(ename) + 숫자형(sal)은 연결이 안 되기 때문에.
숫자형을 문자형으로 변환해서 문자형 + 문자형으로 출력하기 위해서
"""

KING5000
BLAKE2850
CLARK2450
JONES2975
MARTIN1250
ALLEN1600
TURNER1500
JAMES950
WARD1250
FORD3000
SMITH800
SCOTT3000
ADAMS1100
MILLER1300

'\nzip 함수를 for loop 문에 사용하게 되면\n두 개의 범위 데이터를 한 번에 받아서 loop를 수행할 수 있다.\nstr 함수를 이용한 이유는 문자형(ename) + 숫자형(sal)은 연결이 안 되기 때문에.\n숫자형을 문자형으로 변환해서 문자형 + 문자형으로 출력하기 위해서\n'

In [65]:
# 시퀀스 자료 반복

"""
동일한 시퀀스 자료를 반복하여 새로운 시퀀스 자료로 만들고자 할 때는
별표(*)를 연산자로 사용하면 된다.
"""

print('a'*7)

print([1,2,3]*3)

tall = [129.3, 130.2, 132.5, 132.7]
list = tall*3
print(list)

aaaaaaa
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[129.3, 130.2, 132.5, 132.7, 129.3, 130.2, 132.5, 132.7, 129.3, 130.2, 132.5, 132.7]

In [66]:
# 컬럼 값의 길이 출력하기

"""
SQL > select ename, length(ename)
        from emp;
"""

import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")

for i in emp['ename']:
    print(i,len(i))

KING 4
BLAKE 5
CLARK 5
JONES 5
MARTIN 6
ALLEN 5
TURNER 6
JAMES 5
WARD 4
FORD 4
SMITH 5
SCOTT 5
ADAMS 5
MILLER 6

In [69]:
# 멤버 체크

"""
in은 자료에 어떤 값이 있는지 확인할 때 사용하는 키워드다.
값이 자료에 있으면 True를 반환하고, 없으면 False를 반환한다.
"""

listdata=[1,2,3,4]
a=5 in listdata
b=4 in listdata
print(a)
print(b)

False
True

In [74]:
# 모평균이 30이고 모표준편차가 7인 모집단을 구성하기
import numpy as np
avg=30
std=7
N=10000

mogipdan=np.random.randn(N)*std+avg
print(mogipdan)

"""
np.randn(숫자)를 쓰면
가우시안 정규분포에 따르는 난수들이 숫자만큼 생성됨
"""

print(len(mogipdan))

print(np.mean(mogipdan))

[23.93999241 28.88818627 21.2957801  ... 26.58788165 28.18471142
 15.47113339]
10000
29.997962937181146

In [78]:
# SQL의 in 을 판다스로 구현하기

"""
SQL > select ename, job
        from emp
        where job in ('SALESMAN', 'ANALYST');
"""

import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")

print(emp[['ename','job']][emp['job'].isin(['SALESMAN','ANALYST'])])

print('--------------------')

"""
SQL > select ename, job
        from emp
        where job not in ('SALESMAN', 'ANALYST');
"""

print(emp[['ename','job']][~emp['job'].isin(['SALESMAN','ANALYST'])])

     ename       job
4   MARTIN  SALESMAN
5    ALLEN  SALESMAN
6   TURNER  SALESMAN
8     WARD  SALESMAN
9     FORD   ANALYST
11   SCOTT   ANALYST
--------------------
     ename        job
0     KING  PRESIDENT
1    BLAKE    MANAGER
2    CLARK    MANAGER
3    JONES    MANAGER
7    JAMES      CLERK
10   SMITH      CLERK
12   ADAMS      CLERK
13  MILLER      CLERK

In [ ]:
# 문자열 선언하는 3가지 방법

1. '문자열' --> 싱글 쿼테이션 마크
2. "문자열" --> 더블 쿼테이션 마크
3. """문자열""" --> 더블 쿼테이션 마크를 3개

문자에 싱글 쿼테이션 마크(')가 포함되어져 있으면
위의 두번째인 더블 쿼테이션 마크를 사용한다.
               
또한 문자에 더블 쿼테이션 마크(")가 포함되어져 있으면
위의 세번째인 더블 쿼테이션 마크3개를 사용하면 된다.

In [80]:
a=""""모집단"의 모평균은, "모집단"의 모분산은, "모집단"의 모표준편차는"""
print(a)

"모집단"의 모평균은, "모집단"의 모분산은, "모집단"의 모표준편차는

In [85]:
import numpy as np
avg=30
std=7
N=10000
mogipdan=np.random.randn(N)*std+avg
print(mogipdan)

print(""""모집단"의 모평균은""",np.mean(mogipdan))
print(""""모집단"의 모분산은""",np.var(mogipdan))
print(""""모집단"의 모표준편차는""",np.std(mogipdan))

[25.54516586 18.04491694 28.60607326 ... 16.21517322 38.94163602
 30.64668632]
"모집단"의 모평균은 29.908075719150947
"모집단"의 모분산은 48.21950548562098
"모집단"의 모표준편차는 6.944026604616444

In [88]:
# 1000000개의 모집단을 만들고, 그 중 표본 49개를 뽑은 뒤, 그 평균을 구하기
import numpy as np
import random
avg=30
std=7
N=1000000
mogipdan=np.random.randn(N)*std+avg
print(np.random.choice(mogipdan,49))
print('--------------------------------')
print(np.mean(np.random.choice(mogipdan,49)))
print('--------------------------------')
print(np.random.choice(mogipdan,49).mean())

[20.41384913 31.68171108 19.14802479 33.93733486 31.43107485 38.11825624
 46.4881491  32.66602154 20.26837249 26.81840238 30.71284017 23.58645934
 32.32841183 28.08103063 25.65995979 20.00229474 43.64263146 22.88273544
 29.00895644 26.20615418 26.5738648  19.14740035 43.67088297 29.44740707
 29.79681158 32.08781536 17.33960595 30.76231885 34.97004702 34.39699453
 37.68222733 31.2510695  36.59936901 33.67515676 35.49202322 23.63698094
 29.46407581 31.37416179 32.18592272 29.95813884 24.84674741 38.73589908
 31.2969262  26.62492185 25.53095942 35.74430626 21.95114171 19.99499659
 14.45982139]
--------------------------------
30.694092534639925
--------------------------------
30.5809651265933

In [94]:
# 1000000개의 모집단을 만들고, 그 중 표본 10개를 뽑은 뒤, 그 펴본의 평균을 구하는 시행을 5번 하여 저장하기
import numpy as np
import random
avg=30
std=7
N=1000000
mogipdan=np.random.randn(N)*std+avg
sample_list=[]
for i in range(5):
    sample_list.append(np.random.choice(mogipdan,10).mean())
print(sample_list)

[29.330616924613366, 30.19387035795604, 29.918101474828593, 26.087634100512002, 27.488024450833603]
5

In [ ]:
# 문자열 포멧팅

문자열 포멧팅이란 변하는 값을 포함하는 문자열을 표현하기 위해
하나의 양식으로 문자열을 만드는 것이다.
문자열 포멧팅에서는 변하는 값을 나타내기 위해 사용하는 기호를
'포멧 문자열'이라고 하며, 자주 사용하는 포멧 문자열은 다음과 같다.

포멧 문자열
%s  --> 문자열에 대응
%c  --> 문자나 기호 한 개에 대응
%f  --> 실수에 대응
%d  --> 정수에 대응
%%  --> % 라는 기호 자체를 표시

In [96]:
txt1='자바'
txt2='파이썬'
num1=5
num2=10
print('나는 %s보다 %s에 더 익숙합니다' %(txt1,txt2))

나는 자바보다 파이썬에 더 익숙합니다

In [102]:
num1=5
num2=10

print('%s는 %s 보다 작습니다' %(num1,num2))

5는 10 보다 작습니다

In [106]:
import numpy as np
avg=30
std=7
N=10000
mogipdan=np.random.randn(N)*std+avg
a=np.mean(mogipdan)
b=np.var(mogipdan)
c=np.std(mogipdan)
print(c)
print('모집단"의 모평균은 %.2f, 모집단"의 모분산은 %.2f,"모집단"의 모표준편차는 %.2f 입니다.' %(a,b,c))

6.982772344649171
모집단"의 모평균은 30.17, 모집단"의 모분산은 48.76,"모집단"의 모표준편차는 6.98 입니다.