In [3]:
# 데이터 유형 변환


# 예제 : emp3.csv 파일을 읽고, 이름과 월급을 출력하는데 이 때 월급을 실수로 출력되게 하기

import pandas as pd
emp = pd.read_csv("c:\\data\\emp3.csv")
print( emp[['ename','sal']])


# 실수형으로 출력해보기
print('---------------------------')

import pandas as pd
emp = pd.read_csv("c:\\data\\emp3.csv")
emp['sal']=emp['sal'].apply(float)
print( emp[['ename','sal']])

     ename   sal
0     KING  5000
1    BLAKE  2850
2    CLARK  2450
3    JONES  2975
4   MARTIN  1250
5    ALLEN  1600
6   TURNER  1500
7    JAMES   950
8     WARD  1250
9     FORD  3000
10   SMITH   800
11   SCOTT  3000
12   ADAMS  1100
13  MILLER  1300
---------------------------
     ename     sal
0     KING  5000.0
1    BLAKE  2850.0
2    CLARK  2450.0
3    JONES  2975.0
4   MARTIN  1250.0
5    ALLEN  1600.0
6   TURNER  1500.0
7    JAMES   950.0
8     WARD  1250.0
9     FORD  3000.0
10   SMITH   800.0
11   SCOTT  3000.0
12   ADAMS  1100.0
13  MILLER  1300.0

In [6]:
# 결측치 확인하기


# 예제 : 이름과 커미션을 출력하기

import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")
print(emp[['ename','comm']])


# 예제 : 커미션이 결측치인 사원들의 이름과 커미션을 출력하기
print('-------------------------')

import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")
print(emp[['ename','comm']][emp['comm'].isnull()]) # 조건절에서 isnull() 함수를 사용하면 된다.


# 예제 : 커미션이 결측치가 아닌 사원들의 이름과 커미션을 출력하기
print('--------------------------')

import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")
print(emp[['ename','comm']][~emp['comm'].isnull()])


"""
간단하게 조건절 앞에 '~' 물결 표시만 붙여주면 된다.

오라클에서 not between, not null, not like 처럼 NOT을 붙이는 상황에

판다스에서는 NOT 대신 '~' 해주면 해결 되는 것 같다.
"""

     ename    comm
0     KING     NaN
1    BLAKE     NaN
2    CLARK     NaN
3    JONES     NaN
4   MARTIN  1400.0
5    ALLEN   300.0
6   TURNER     0.0
7    JAMES     NaN
8     WARD   500.0
9     FORD     NaN
10   SMITH     NaN
11   SCOTT     NaN
12   ADAMS     NaN
13  MILLER     NaN
-------------------------
     ename  comm
0     KING   NaN
1    BLAKE   NaN
2    CLARK   NaN
3    JONES   NaN
7    JAMES   NaN
9     FORD   NaN
10   SMITH   NaN
11   SCOTT   NaN
12   ADAMS   NaN
13  MILLER   NaN
--------------------------
    ename    comm
4  MARTIN  1400.0
5   ALLEN   300.0
6  TURNER     0.0
8    WARD   500.0

In [7]:
# 예제 : CSV 파일에 결측치가 있는지 확인하는 방법

"""
emp를 구체화하지 않고, 그대로 isnull()을 돌려버리면 데이터 값마다

결측치가 아니라면 FALSE 결측치라면 TRUE가 한번에  반환된다.
"""

import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")
print(emp.isnull())

# 그런데, 지금은 CSV파일이 아주 작지만 데이터가 만약 크다면 이렇게 일일이 TRUE를 찾기 힘들다.

    index  empno  ename    job    mgr  hiredate    sal   comm  deptno
0   False  False  False  False   True     False  False   True   False
1   False  False  False  False  False     False  False   True   False
2   False  False  False  False  False     False  False   True   False
3   False  False  False  False  False     False  False   True   False
4   False  False  False  False  False     False  False  False   False
5   False  False  False  False  False     False  False  False   False
6   False  False  False  False  False     False  False  False   False
7   False  False  False  False  False     False  False   True   False
8   False  False  False  False  False     False  False  False   False
9   False  False  False  False  False     False  False   True   False
10  False  False  False  False  False     False  False   True   False
11  False  False  False  False  False     False  False   True   False
12  False  False  False  False  False     False  False   True   False
13  False  False  False  False  False     False  False   True   False

In [8]:
# 예제 : 간단하게 컬럼별 결측치 확인하기

import pandas as pd
emp=pd.read_csv("c:\\data\\emp3.csv")
print(emp.isnull().sum())

"""
isnull() 해준 뒤 .sum()만 붙여주면

True는 1이기 때문에 결측치 수만큼 숫자가 늘어난다.

그래서 이렇게 한 눈에 결측치가 얼마나 있는지 편리하게 확인할 수 있다.
"""

index        0
empno        0
ename        0
job          0
mgr          1
hiredate     0
sal          0
comm        10
deptno       0
dtype: int64

In [9]:
# 예제 : (내게는 대용량인) 타이타닉 데이터의 결측치 확인

import pandas as pd
tat=pd.read_csv("c:\\data\\train.csv")
print(tat.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64